<div class="payment-content">
  <span style="font-weight: 700"
    >Giỏ hàng hiện tại có {{ amount }} đơn hàng với tổng giá trị đơn hàng là
    <span style="color: rgb(41, 133, 232)">{{ price }} VNĐ</span></span
  >
</div>
<app-table-component
  [data]="bookRentals"
  *ngIf="!(isLoading$ | async)"
  (editButtonClick)="showModal('update', $event)"
  (paymentButtonClick)="showPaymentConfirm($event)"
  (deleteButtonClick)="showDeleteConfirm($event)"
  [pageIndex]="pageIndex"
  [totalPage]="totalPage"
  (pageIndexChange)="onPageChange($event)"
  (pageSizeChange)="onPageSizeChange($event)"
  [showView]="false"
  [showPurchase]="false"
  [checked]="false"
  [showPayment]="true"
>
  <app-col-table
    header="image"
    key="image"
    align="left"
    type="text"
    width="100px"
  >
    <ng-template #headerTable let-col1>
      <div>Bìa sách</div>
    </ng-template>

    <ng-template #cellTable let-data1="data" let-col="col">
      <div>
        <img [src]="[data1[col.key]]" style="width: 150px; height: 200px" />
      </div>
    </ng-template>
  </app-col-table>

  <app-col-table
    header="nameBook"
    key="nameBook"
    align="left"
    type="text"
    width="100px"
  >
    <ng-template #headerTable let-col1>
      <div>Tên sách</div>
    </ng-template>
  </app-col-table>

  <app-col-table
    header="author"
    key="author"
    align="left"
    type="text"
    width="100px"
  >
    <ng-template #headerTable let-col1>
      <div>Tác giả</div>
    </ng-template>
  </app-col-table>

  <app-col-table
    header="price"
    key="price"
    align="left"
    type="text"
    width="100px"
  >
    <ng-template #headerTable let-col1>
      <div>Số tiền (VNĐ)</div>
    </ng-template>
    <ng-template #cellTable let-data1="data" let-col="col">
      <div>{{ data1[col.key] | number : "1.0-2" }}</div>
    </ng-template>
  </app-col-table>

  <app-col-table
    header="quantity"
    key="quantity"
    align="left"
    type="text"
    width="100px"
  >
    <ng-template #headerTable let-col1>
      <div>Số lượng</div>
    </ng-template>
  </app-col-table>
</app-table-component>

<nz-modal
  [(nzVisible)]="isVisible"
  [nzTitle]="modalTitle"
  [nzContent]="modalContent"
  [nzFooter]="modalFooter"
  (nzOnCancel)="handleCancel()"
  [nzWidth]="600"
>
  <ng-template #modalTitle>{{
    !isUpdate ? "Tạo mới" : "Cập nhật đơn hàng"
  }}</ng-template>

  <ng-template #modalContent>
    <form [formGroup]="formGroup">

      <div nz-row class="mt-4">
        <div nz-col nzSpan="8" class="input-label-custom">Số lượng</div>
        <nz-input-number
        formControlName="quantity"
        [nzMin]="1"
        [nzMax]="100"
        [nzStep]="1"
        class="input-number-type-custom"
        onlyNumber
      ></nz-input-number>
      </div>
    </form>
  </ng-template>

  <ng-template #modalFooter>
    <app-button-common
      [okButton]="false"
      style="margin-right: 10px"
      (clickButton)="handleCancel()"
      >Thoát</app-button-common
    >
    <app-button-common (clickButton)="handleOk()">Xác nhận</app-button-common>
  </ng-template>
</nz-modal>
