<app-table-component
  [data]="books"
  *ngIf="!(isLoading$ | async)"
  (createButton)="showModal('create')"
  (editButtonClick)="showModal('update', $event)"
  (deleteButtonClick)="showDeleteConfirm($event)"
  [pageIndex]="pageIndex"
  [totalPage]="totalPage"
  (pageIndexChange)="onPageChange($event)"
  (pageSizeChange)="onPageSizeChange($event)"
  [canAction]="isAdmin ? true : false"
  [canCreate]="isAdmin ? true : false"
  [canSearch]="isAdmin ? true : false"
  [checked]="false"
>
  <app-col-table
    header="nameBook"
    key="nameBook"
    align="left"
    type="text"
    width="100px"
  >
    <ng-template #headerTable let-col1>
      <div>Tên sách</div>
    </ng-template>
  </app-col-table>

  <app-col-table
    header="author"
    key="author"
    align="left"
    type="text"
    width="100px"
  >
    <ng-template #headerTable let-col1>
      <div>Tác giả</div>
    </ng-template>
  </app-col-table>

  <app-col-table
    header="image"
    key="image"
    align="left"
    type="text"
    width="100px"
  >
    <ng-template #headerTable let-col1>
      <div>Bìa sách</div>
    </ng-template>

    <ng-template #cellTable let-data1="data" let-col="col">
      <!-- <div>{{ <img [src] = "[col1.key]"> }}</div> -->
      <div>
        <img [src]="[data1[col.key]]" style="width: 150px; height: 200px" />
      </div>
    </ng-template>
  </app-col-table>
</app-table-component>

<nz-modal
  [(nzVisible)]="isVisible"
  [nzTitle]="modalTitle"
  [nzContent]="modalContent"
  [nzFooter]="modalFooter"
  (nzOnCancel)="handleCancel()"
  [nzWidth]="1200"
>
  <ng-template #modalTitle>{{
    !isUpdate ? "Tạo mới" : "Cập nhật"
  }}</ng-template>
  <ng-template #modalContent>
    <form [formGroup]="formGroup">
      <div nz-row class="book-content">
        <div nz-col nzSpan="16">
          <div nz-row>
            <div nz-col nzSpan="12">
              <div
                nz-row
                class="input-label-custom"
                style="padding-bottom: 15px"
              >
                Tên sách
              </div>
              <div nz-row>
                <input
                  nz-col
                  nz-input
                  class="input-type-custom-2"
                  formControlName="nameBook"
                  placeholder="Nhập tên sách"
                />
              </div>
            </div>
            <div nz-col nzSpan="12">
              <div
                nz-row
                class="input-label-custom"
                style="padding-bottom: 15px"
              >
                Tác giả
              </div>
              <div nz-row>
                <input
                  nz-col
                  nz-input
                  class="input-type-custom-2"
                  formControlName="author"
                  placeholder="Nhập tên tác giả"
                />
              </div>
            </div>
          </div>
          <div nz-row>
            <div nz-col nzSpan="24">
              <div
                nz-row
                class="input-label-custom"
                style="padding-bottom: 15px"
              >
                Mô tả
              </div>
              <div nz-row>
                <textarea
                  nz-col
                  nz-input
                  rows="4"
                  class="input-type-custom-textarea"
                  formControlName="description"
                  placeholder="Nhập mô tả của sách"
                ></textarea>
              </div>
            </div>
          </div>
          <div nz-row>
            <div nz-col nzSpan="12">
              <div
                nz-row
                class="input-label-custom"
                style="padding-bottom: 15px"
              >
                Ngày phát hành
              </div>
              <div nz-row>
                <nz-date-picker
                  [nzPlaceHolder]="'Chọn ngày xuất bản'"
                  class="date-type-custom"
                  nzFormat="dd/MM/yyyy"
                  formControlName="publishYear"
                  style="width: 90%"
                >
                </nz-date-picker>
              </div>
            </div>
            <div nz-col nzSpan="12">
              <div
                nz-row
                class="input-label-custom"
                style="padding-bottom: 15px"
              >
                Số trang
              </div>
              <div nz-row>
                <input
                  nz-col
                  nz-input
                  class="input-type-custom-2"
                  formControlName="pageOfBook"
                  placeholder="Nhập số trang sách"
                  onlyNumber
                />
              </div>
            </div>
          </div>
          <div nz-row>
            <div nz-col nzSpan="12">
              <div
                nz-row
                class="input-label-custom"
                style="padding-bottom: 15px"
              >
                Thể loại
              </div>
              <div nz-row>
                <nz-select
                  formControlName="categoryId"
                  class="select-type-custom-2"
                  [nzPlaceHolder]="'Chọn thể loại'"
                  (ngModelChange)="onCategory()"
                >
                  <nz-option
                    *ngFor="let category of categories"
                    [nzValue]="category.id"
                    [nzLabel]="category.title"
                  ></nz-option>
                </nz-select>
              </div>
            </div>
          </div>
        </div>
        <div nz-col nzSpan="8">
          <div class="upload">
            <div
              class="img-content"
              style="
                display: flex;
                align-content: center;
                flex-wrap: wrap;
                flex-direction: column;
                padding-top: 20px;
              "
            >
              <img *ngIf="!previews" class="profilepic__image" />
              <input
                type="file"
                class="file-input"
                style="display: none"
                (change)="onFileSelected($event)"
                #fileUpload
                accept="image/x-png,image/gif,image/jpeg"
              />
              <div class="profilepic__content" (click)="fileUpload.click()">
                <a class="profilepic__icon"><i class="fas fa-camera"></i></a>
                <a class="profilepic__text" style="padding-left: 15px"
                  >Chọn bìa sách</a
                >
              </div>
              <img
                *ngIf="previews"
                [src]="previews"
                class="profilepic__image"
                style="width: 150px; height: 250px"
              />
            </div>
          </div>
          <div class="row-upload" *ngIf="showImage">
            <div nz-row style="padding-top: 15px">
              <img
                [src]="url"
                style="width: 150px; height: 250px"
                *ngIf="hideImage === false"
              />
            </div>
          </div>
        </div>
      </div>
    </form>
  </ng-template>

  <ng-template #modalFooter>
    <app-button-common
      [okButton]="false"
      style="margin-right: 10px"
      (clickButton)="handleCancel()"
      >Thoát</app-button-common
    >
    <app-button-common (clickButton)="handleOk()">Xác nhận</app-button-common>
  </ng-template>
</nz-modal>
